/*reset*/
* {padding: 0;margin: 0;border: 0;} 
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
:focus, :active {outline: none;}
a:focus, a:active {outline: none;}
nav, footer, header, aside {display: block;} 
html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input, button, textarea {font-family: inherit;}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}
h1, h2, h3, h4, h5, h6 {font-size: inherit;font-weight: 400;} 
/****main content*****/
body {
	font-family: Montserrat, Arial, Helvetica, sans-serif;
	background-color: black;
	font-size: 16px;
	color: white;
}
.wrapper {
	min-height: 100%;/*чтобы контейнер был на всю высоту экрана*/
	overflow: hidden;/*на всякий случай, чтобы ничего за экран не вылезало*/
	display: flex;
	flex-direction: column;
}
.container {
	max-width: 1200px;
	margin: 0px auto;
	border: 1px solid grey;
}
.content {
	flex: 1 1 auto;
}
/*header*/
.header__row {
	display: flex;
	justify-content: space-between;

}

.header__menu ul li, .footer__socialMedia ul li{
	display: inline;
	margin: 0 10px;
}
nav ul li a, nav ul li a:visited,nav ul li a:link {
	color: white;
	text-transform: uppercase; /*Делает заглавными (прописными) все буквы в тексте*/
}
nav ul li a:hover {
	color: goldenrod;
}
/*main content*/
.content__text, .content__decoration, .content__left {
	display: flex;
	border: 1px solid grey;
}
.content__mug {
	position: absolute;
    top: 20%;
	left: 28%;
	z-index: 2;		
}
.content__decoration__coffeeBeans {
	display: relative;
	
}
.content__enjoy {
	font-size: 4.2em;
	font-weight: bold;
	text-transform: uppercase;
	position: absolute;
	top: 29%;
	left: 17%;		
}
.content__your {
	font-size: 5.0em;
	font-weight: bold;
	text-transform: uppercase;
	position: absolute;
	top: 37%;
	left: 17.3%;		
}
.content__coffee {
	font-size: 4.3em;
	position: absolute;
	font-style: italic;
	top: 44.5%;
	left: 21%;		
}
.content__shape {
	position: absolute;
	top: 62%;
	left: 45%;
	z-index: 1;		
}
.content__shape__text {
	font-size: 1.2em;
	position: absolute;
	top: 65px;
	right: 60px;
	z-index: 3;
}
.content__shape__price {
	font-size: 3.1em;
	position: absolute;
	top: 92px;
	right: 42px;
	z-index: 3;
}
.content__left {
	position: absolute;
	top: 220px;
	left: 1000px;
}
.content__left__list {
	font-size: 1.5em;
}
.content__left__list li {
	margin: 0px 0px 18px 0px;
}
.content__left__list li:nth-child(odd)::before {
	content: "";/*not work without content*/
	width: 30px;
	height: 35px;
	display: inline-block;
	background: url('/img/сoffeeCup.png');
	margin-right: 25px;
	transform: rotate(17deg);
}
.content__left__list li:nth-child(even)::before {
	content: "";/*not work without content*/
	width: 30px;
	height: 35px;
	display: inline-block;
	background: url('/img/сoffeeCup.png');
	margin-right: 25px;
	transform: rotate(-17deg);
}
/*footer*/
.footer__text {
	font-size: 1.5rem;
	text-align: left;
	text-transform: uppercase;
}
.footer__socialMedia {
	text-align: end;
}
.footer__copyrights {
	font-size: 0.5rem;
	text-transform: uppercase;
	text-align: end;
	margin-top: 15px;
}

  