/*reset*/
* {padding: 0;margin: 0;border: 0;} 
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
:focus, :active {outline: none;}
a:focus, a:active {outline: none;}
nav, footer, header, aside {display: block;} 
html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input, button, textarea {font-family: inherit;}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}
h1, h2, h3, h4, h5, h6 {font-size: inherit;font-weight: 400;} 
/****main content*****/
body {
	font-family: 'Montserrat', sans-serif;
	background-color: black;
	color: white;
}
.wrapper {
	margin: 0px auto;
  	max-width: 1186px;
  	max-height: 667px;
  	overflow: hidden;
}
/*header*/
header {
	width: 100%;/**/
	height: 15%;/*105px*/
}
.logo img{
	margin: 2.3% 0 0 0;/*40px*/
}
.active {
	border-bottom: #eeede8 solid 2px;
}
nav{
	text-align: right;
	margin-right: 3.5%;/*42px*/
}
nav ul li {
	display: inline;
	margin: 0 1.2%;/*12px*/
}
nav ul li a {
	padding-bottom: 7px;
}
nav ul li a, nav ul li a:visited,nav ul li a:link {
	color: white;
	text-transform: uppercase; /*Делает заглавными (прописными) все буквы в тексте*/
}
nav ul li a:hover {
	color: goldenrod;
}
/*main content*/
.content {
	position: relative;
}
.content__mug {
	position: absolute;
    top: 130px;
	left: 420px;
	z-index: 2;		
}
.content__shape {
	position: absolute;
	top: 422px;
	left: 611px;
	z-index: 1;	
}
.shape__text {
	font-family: 'Mansalva', cursive;
	font-size: 1.2em;
	color: #f9e5a3;
	position: absolute;
	top: 65px;
	right: 53px;
	z-index: 3;
}
.shape__price {
	font-size: 3.1em;
	color: #edd898;
	position: absolute;
	top: 92px;
	right: 34px;
	z-index: 3;
}
.content__back {
	width: 49.2%;/*586px*/
	margin: 2px 257px 59px 343px;/*40px*/
}
/*button*/
.button__buy {
	width: 159px;
	height: 44px;
	background: #f9e5a3;
	color: #654828;
	font-size: 1.2em;
	text-transform: uppercase;
	position: absolute;
	top: 450px;
	left: 110px;		
}
.button__buy:hover {
	background: goldenrod;
}
.content__enjoy {
	width: 270px;
	height: 62px;
	font-size: 6em;/*84px*/
	font-style: bold;
	text-transform: uppercase;
	position: absolute;
	top: 202px;
	left: 110px;		
}
.content__your {
	width: 268px;
	height: 70px;
	font-size: 6.8em;/*96px*/
	font-style: bold;
	text-transform: uppercase;
	position: absolute;
	top: 274px;
	left: 110px;		
}
.content__coffee {
	width: 298px;
	height: 111px;
	font-family: 'Mansalva', cursive;
	font-size: 7.7em;/*122px*/
	color: #f9e5a3;
	position: absolute;
	font-style: italic;
	top: 320px;
	left: 152px;		
}
.content__right {
	min-width: 300px;
	height: 148px;
	position: absolute;
	top: 203px;
	right: 110px;			
}
.right__list {
	font-family: 'Mansalva', cursive;
	color: #edd898;
	font-size: 2.8em;/*40px*/
}
.right__list li {
	margin: 0 0 5% 0;
}
.right__list li:nth-child(odd)::before {
	content: "";/*not work without content*/
	width: 30px;
	height: 35px;
	display: inline-block;
	background: url('../img/сoffeeCup.png');
	margin-right: 12%;
	transform: rotate(17deg);
}
.right__list li:nth-child(even)::before {
	content: "";/*not work without content*/
	width: 30px;
	height: 35px;
	display: inline-block;
	background: url('../img/сoffeeCup.png');
	margin-right: 12%;
	transform: rotate(-17deg);
}
/*footer*/
footer {
	width: 100%;
	height: 8%;/*97px*/
}
footer ul li {
	display: inline;
	margin: 0 .2%;/*12px*/
}
.footer__text {
	margin: 0 0 0 50px;
	font-size: 1.8em;
	text-transform: uppercase;
}
.socials {
	text-align: end;
	margin-right: 42px;
	margin-top: -2%;
}
.copyrights {
	text-align: end;
	margin-right: 45px;
	margin-bottom: 48px;
	text-transform: uppercase;
	font-size: 11px;
}
/*dialog window*/
.open  {
	display: block !important;
}
.modal {
	display: none;
	width: 500px; 
	max-width: 100%;
	height: 400px;
	max-height: 100%;
	position: fixed; 
	z-index: 100;  
	left: 50%;
	top: 50%;  
	/* Центруем */ 
	transform: translate(-50%, -50%);  
	background: white;
	color: black;
	box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
	border-radius: 12px;
}
/*shadow*/
.modal__overlay {
	position: fixed;
	top: 0;
	left: 0; 
	width: 100%;
	height: 100%; 
	z-index: 50;   
	background: rgba(0, 0, 0, 0.6);
	display: none;
}
.modal .close {
	position: absolute;  
	z-index: 1;  
	top: 10px;  
	right: 20px;  
	border: 5px; 
	background: white;
	color:  #edd898; 
	font-size: 2.0rem;
}
.modal .close:hover {
	color: goldenrod;
}
.modal .title {
	margin-bottom: 25px;
	font-size: 1.3em;
	text-align: center;
}
.modal fieldset {
	margin: 25px;
}
.modal__label{
	width: 15%;
	display: inline-block;
}
.modal__button {
	background: black;
	color: #edd898;
	padding: 5px 10px;
	border-radius: 5px;
	margin: 0px 2px;
}
.modal__button:hover {
	color: goldenrod;
}
.modal__checkbox {
	width: 25%;
	margin: 5px 0;
}
.modal__input {
	background: white;
	padding:5px;
	margin:5px 0; 
	border: 1px solid #aaa;
	border-radius: 5px;
	width: 40%;
}
.modal__number {
	width: 10%;
	text-align: center;
	border: 1px solid #aaa;
	border-radius: 5px;
	
}
.form__hint {
    background:goldenrod;
    border-radius: 3px 3px 3px 3px;
	color: black;
	font-size: 0.5em;
    margin-left:8px;
	padding: 4px 8px;
	margin: 8px;
    z-index: 999; /* hints stay above all other elements */
    position: absolute; /* allows proper formatting if hint is two lines */
    display: none;
}
.form__hint::before { 
    content: "\25C0"; /* треугольник, указующий влево, в  escaped unicode */
    color: goldenrod; 
    position: absolute; 
    top:4px; 
    left:-6px; 
}
.contact__form .modal__input:focus + .form__hint {
	display: inline;
}
.modal__footer {
	margin-top: 10px;
	text-align: end;
}
.modal__message {
	height: 15px;
	text-align: center;
	color:black;
	font-size: 0.8em;
}
.modal__guts {
	position: absolute; 
	top: 0;
	left: 0; 
	width: 100%; 
	height: 100%; 
	overflow: auto; 
	padding: 20px;

}
	